.card {
    height: 469px;
    width: 402px;
    border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    text-align: center;

}


.title {
    margin-top: 36px;
    font-size: 18px;
    font-weight: 500;
    color: #4F4F4F;

    font-style: normal;
    font-weight: 500;
    line-height: 27px;

    letter-spacing: -0.035em;
    font-family: 'Poppins', sans-serif;
}

.subtitle1 {
    margin-top: 16px;
    font-weight: 500;
    font-size: 10px;
    color: #828282;
    font-family: 'Poppins', sans-serif;
}

.imageBox {
    margin: auto;
    margin-top: 30px;
    height: 220px;
    max-width: 338px;
    border-radius: 12px;
    background-color: #F6F8FB;
    border-radius: 12px;

}

.the-dashed-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2397BEF4FF' stroke-width='4' stroke-dasharray='15%2c 20' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
}
.the-solid-border {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2397BEF4FF' stroke-width='4' stroke-dasharray='' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e");
}


.inputfile {
    display: none;
}


.image {
    margin-top: 36px;
    height: fit-content;
}
.subtitle2 {
    margin-top: 37px;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.035em;
    color: #BDBDBD;
    font-family: 'Poppins', sans-serif;


}

.subtitle3 {
    margin-top: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    letter-spacing: -0.035em;
    color: #BDBDBD;


}

.chooseButton {
    margin-top: 30px;
    width: 101px;
    height: 31.98px;
    border-style: none;
    background: #2F80ED;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}
.chooseButton:hover {
    cursor: pointer;
    background: #5f99e4;
}

.chooseButton:active, :focus{
    outline: none;
}

